body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f1f2f6, #e2e8f0);
    color: #34495e;
    line-height: 1.6;
    padding: 40px 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    background: white;
    max-width: 900px;
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#listaCarros {
    list-style-type: none; 
    padding-left: 0;       
}
